<%- include page/header %>

<div class="panel-body">
   <!--<form method="post">-->
        <div class="col-md-12">
            <div class="form-group">
                <label>日期</label>
                <input id="datepicker1" name="datepicker1" type="text" value="<%= mdate %>"/>
            </div> <!-- form-group -->
        </div> <!-- col-md-12 -->


        <div class="col-md-3">
            <div class="form-group">
                <label>選擇裝置</label>
                <select id="mac" name="mac">
                    <% if(units) { %>
                        <% for(var i=0;i<units.length;i++){ %>
                            <option value = "<%= units[i].macAddr %>" >
                                <%= units[i].name %>
                            </option>
                        <% } %>
                    <% } %>
                </select>
            </div> <!-- form-group -->
        </div> <!-- col-md-3 -->

        <div class="col-md-3">
            <div class="form-group">
                <label>選擇時間</label>
                <select id="time" name="time_option">
                    <option value="0">一天</option>
    　               <option value="1">一周</option>
    　               <option value="2">一個月</option>
    　               <option value="3">三個月</option>
                </select>
            </div> <!-- form-group -->
        </div> <!-- col-md-3 -->

        <div class="col-md-3">
            <div class="form-group">
                <% if (user.authz.a04==true) { %>
                    <button name="find" onClick="find()" class="btn btn-primary btn-sm">
                <% }else{ %>
                    <button name="find" class="btn btn-deault btn-sm" disabled>
                <% } %>
                    <span class="glyphicon glyphicon-list-alt"></span> 查詢
                </button>
            </div>
        </div> <!-- col-md-3 -->

        <div class="col-md-12 column">
            <label id="error_message" class="checkbox">
                <font color="red"><b></b>
                <% if (user.authz.a04==false) { %>
                    你沒有查詢權限,請通知管理員變更權限!
                <% } %>
            </label>
        </div> <!-- column-->

    <!--</form>-->

    <!--<button class="button button-block button-balanced" onClick="test()">測試</button>
    <button class="button button-block button-balanced" onClick="test2()">測試2</button>-->

    <div class="col-md-12">
        <div class="panel-body">

            <div class="panel panel-info">

                <div class="panel-body">
                    <div id="chartTmp" style=t"height:100px;width:400px; "></div>
                </div> <!-- panel-body -->
            </div> <!-- panel panel-info -->
            <div class="panel panel-info">

                <div class="panel-body">
                    <div id="chartHum" style=t"height:100px;width:400px; "></div>
                </div> <!-- panel-body -->
            </div> <!-- panel panel-info -->

        </div> <!-- panel-body -->
    </div> <!-- col -->
</div> <!-- panel-body -->

<script class="code" type="text/javascript">

    $('#datepicker1').datepicker({dateFormat: 'yy-mm-dd', showOn: 'both',
    buttonImageOnly: true, buttonImage: 'images/calendar.png'});


    var socket = io.connect();
    var myData;
    var plot1,plot2;
    var options1,options2,options3,options4;

    socket.on('connect',function(){
        socket.emit('chart_client','hello,chart socket cient is ready');
    });

    var ajaxDataRenderer = function(url, plot, options) {
        var ret = null;
        //alert('ajaxDataRenderer2 url:'+url);
        $.ajax({
            async: false,
            url: url,
            dataType:"json",
            success: function(data) {
                ret = data;
            }
        });
        //alert(ret);
        return ret;

    };

    socket.on('chart_client_db_result',function(data){
        //alert('option : '+data.option+'\ninterva : '+data.interval+'\nmin : '+data.min+'\nmax : '+data.max+'\nnumber : '+data.deviceNumber)
        // The url for our json data
        if(data == null){
            $('#chartTmp').empty();
            $('#chartHum').empty();
            alert('無法找到資料!');
            return;
        }
        var jsonurl = "/data/tem1.json";
        var jsonurl2 = "/data/hum1.json";
        var xaxisJson = getXaxisJSON(data);//for xaxis
        //alert('data.option :'+data.option);
        if(data.option == 1){
            jsonurl = "/data/tem2.json";
            jsonurl2 = "/data/hum2.json";
        }else if(data.option == 2){
            jsonurl = "/data/tem3.json";
            jsonurl2 = "/data/hum3.json";
        }else if(data.option == 3){
            jsonurl = "/data/tem4.json";
            jsonurl2 = "/data/hum4.json";
        }

        if(plot1 == null){

            plot1 = $.jqplot('chartTmp', jsonurl,
                {
                    title: "溫度",
                    dataRenderer: ajaxDataRenderer,
                    dataRendererOptions: {
                        unusedOptionalUrl: jsonurl
                    },
                    axes:
                    {
                        xaxis:xaxisJson,
                        yaxis: {
                            tickOptions: {
                                formatString: "%'d 度"
                            }
                        }
                    }
                }
            );

            plot2 = $.jqplot('chartHum', jsonurl2,
                {
                    title: "濕度",
                    dataRenderer: ajaxDataRenderer,
                    dataRendererOptions: {
                        unusedOptionalUrl: jsonurl2
                    },
                    axes:
                    {
                        xaxis:xaxisJson,
                        yaxis: {
                            tickOptions: {
                                formatString: "%'d %"
                            }
                        }
                    }
                }
            );
        }else{//for replot

            $('#chartTmp').empty();
            $('#chartHum').empty();
            toPlot('chartTmp',jsonurl,xaxisJson);
            toPlot('chartHum',jsonurl2,xaxisJson);
        }



    });

    function toPlot(divName,url,xaxisJson){
        var title ="溫度";
        var formatStr ="%'d 度";
        if(divName !='chartTmp'){
            title ="濕度";
            formatStr ="%'d %";
        }
        $.jqplot(divName, url,
            {
                title: title,
                dataRenderer: ajaxDataRenderer,
                dataRendererOptions: {
                    unusedOptionalUrl: url
                },
                axes:
                {
                    xaxis:xaxisJson,
                    yaxis: {
                        tickOptions: {
                            formatString: formatStr
                        }
                    }
                }
            }
        );
    }

    function replot(url,xJson,plot) {
        var ret = null;
        $.ajax({
            async: false,
            url: url,
            dataType:"json",
            success: function(data) {
                var dataStr = JSON.stringify(data);
                alert('data string : \n'+dataStr);
                var options=getOptions(data,xJson);
                plot.replot(options);
            }
        });
    };

    function getOptions(dataJson,xaxisJson){
        mOptions = {data:dataJson,
                    axes:
                    {
                        xaxis:xaxisJson,
                        yaxis: {
                            tickOptions: {
                                formatString: "%'d 度"
                            }
                        }
                    }
        };
        return mOptions;
    }

    function find(){
        //Get select element for mac , time
        //alert($('#mac').val());

        var mac = $('[name=mac]').val();
        var option = $('[name=time_option]').val();
        var date = $('[name=datepicker1]').val();
        //alert('mac : '+mac);
        //alert('option : '+option);
        //alert('date : '+date);
        socket.emit('chart_client_find_db',{mac:mac,option:option,date:date});
    }

    function test2(){

        var s3 = [[1469289952000,32.5],[1469290547000,32.5],[1469291141000,32.5],[1469291735000,32.4]];
        var s4 = [[1469373785000,32.8],[1469374379000,32.8],[1469374974000,32.8],[1469375568000,32.8]];
        var options = {data:[s3,s4]};
        alert(options);
        plot2.replot(options);
    }

    function getXaxisJSON(data){
        //alert( typeof(data.option));
        if(data.option == 0){
            formatStr = '%#H:%M';
        }else if(data.option == 1){
            formatStr = '%#d日%#H:%M';
        }else if(data.option == 2){
            formatStr = '%#m/%#d';
        }else if(data.option == 3){
            formatStr = '%#m/%#d';
        }

        return {renderer:$.jqplot.DateAxisRenderer,
                tickInterval: data.interval,
                tickOptions:{formatString:formatStr},
                min: data.min,
                max: data.max
        };
    }

    $(document).ready(function () {
        setTimeout(function(){
            //do what you need here
            document.getElementById('error_message').innerText = '';
        }, 3000);

    });
</script>
<script src="/js/jqplot/jquery.jqplot.min.js"></script>
<script src="/js/jqplot/plugins/jqplot.ohlcRenderer.js"></script>
<script src="/js/jqplot/plugins/jqplot.dateAxisRenderer.js"></script>
<script src="/js/jqplot/plugins/jqplot.myParser.js"></script>

<%- include page/footer %>
