<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title%></title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/js/jqplot/jquery.jqplot.css"/>
<!--<link href="css/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery-ui.min.js"></script>-->
<script src="js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jqplot/jquery.jqplot.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>




</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="\"><span>Node</span>Admin</a>
				<ul class="user-menu">
					<!--<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>-->
			</div>
		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<!--<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>-->
		<ul class="nav menu">
		<% if(title ==='首頁'){ %>
			<li class="active">
		<% }else{ %>
			<li>
		<% } %>
			<a href="/"><span class="glyphicon glyphicon-dashboard"></span> 首頁</a></li>
		<% if(title ==='最新訊息'){ %>
			<li class="active">
		<% }else{ %>
			<li>
		<% } %>
			<a href="/socket"><span class="glyphicon glyphicon-info-sign"></span> 最新訊息</a></li>
		<% if(title ==='圖表分析'){ %>
			<li class="active">
		<% }else{ %>
			<li>
		<% } %>
			<a href="/chart"><span class="glyphicon glyphicon-stats"></span> 圖表分析</a></li>
		<% if(title ==='資料查詢'){ %>
			<li class="active">
		<% }else{ %>
			<li>
		<% } %>
			<a href="/find"><span class="glyphicon glyphicon-list-alt"></span> 資料查詢</a></li>
		<% if(title ==='裝置設定'){ %>
			<li class="active">
		<% }else{ %>
			<li>
		<% } %>
			<a href="/setting"><span class="glyphicon glyphicon-pencil"></span> 裝置設定</a></li>

		</ul>
		<div class="attribution">版權所有 <a href="http://www.gemtek.com.tw/national/2.htm" target="_blank" title="正文科技">正文科技</a> </div>
	</div><!--/.sidebar-->

<!-- main start-------------------------------------------------------------------------------------------------------- -->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active"><%= title%></li>

			</ol>

			<div class="panel panel-default">
				<div class="panel-heading col-lg-2">
					<%= title %>
				</div>  <!-- panel-heading -->
				<div class="panel-heading col-lg-10">
					<% if (success) { %>
						<%= success %>
					<% } %>
					<% if (error) { %>
						<%= error %>
					<% } %>
				</div>  <!-- panel-heading -->