<%- include page/header %>

<!--更新時間:<%=new Date() %> -->
	<div class="row">
		<div class="col-md-12 column">
		<table id="mytabe" class="table table-striped table-hover">
			<% if (user.authz.a03==true) { %>

				<tr>
					<td>位址</td>
					<td>溫度1</td>
					<td>濕度1</td>
					<td>溫度2</td>
					<td>濕度2</td>
					<td>電壓</td>
					<td>時間</td>
				</tr>

				<% units.forEach(function(unit) { %>
					<tr id="<%= unit.macAddr %>">
						<td><div name ="name"><%= unit.name %></div></td>
						<td><div name ="tmp1"></div></td>
						<td><div name ="hum1"></div></td>
						<td><div name ="tmp2"></div></td>
						<td><div name ="hum2"></td>
						<td><div name ="voltage"></td>
						<td><div name ="time"></div></td>
					</tr>
				<% }); %>
			<% } %>
		</table>
		</div> <!-- column-->
	</div>	<!--row-->

	<div class="row">
		<div class="col-md-12 column">
			<label id="error_message" class="checkbox">
	            <font color="red"><b></b>
	            <% if (user.authz.a03==false) { %>
	                你沒有觀看權限,請通知管理員變更權限!
	            <% } %>
	        </label>
		</div> <!-- column-->
	</div>	<!--row-->

<script>
    $(document).ready(function(){
        var socket = io.connect();

		socket.on('connect',function(){
			$("#created").text( 'Client has connected to server!' );
			socket.emit('new_message_client','hello,new message socket cient is ready');
		});
		socket.on('disconnect',function(){
			$("#created").text( 'Client has disconnected!');
		});
		socket.on('new_message_receive_mqtt',function(data){

			var index = data.index;
			var status = '正常';
			if(data.vol<300){
				status = '低電壓';
			}
			//alert(index);
			//alert(($('[name=name]').eq(index).text()));
			$('[name=tmp1]').eq(index).text(data.tmp1);
			$('[name=tmp2]').eq(index).text(data.tmp2);
			$('[name=hum1]').eq(index).text(data.hum1);
			$('[name=hum2]').eq(index).text(data.hum2);
			$('[name=voltage]').eq(index).text(status);
			$('[nametime]').eq(index).text(data.time);
		});

		socket.on('new_message_db_findLast',function(data){

			var index = data.index;
			var status = '正常';
			if(data.vol<300){
				status = '低電壓';
			}
			//alert(index);
			//alert(($('[name=name]').eq(index).text()));
			$('[name=tmp1]').eq(index).text(data.tmp1);
			$('[name=tmp2]').eq(index).text(data.tmp2);
			$('[name=hum1]').eq(index).text(data.hum1);
			$('[name=hum2]').eq(index).text(data.hum2);
			$('[name=voltage]').eq(index).text(status);
			$('[name=time]').eq(index).text(data.time);
		});

		$(document).ready(function () {
			setTimeout(function(){
    		//do what you need here
		    document.getElementById('error_message').innerText = '';
		}, 3000);
	});

    });

</script>


<%- include page/footer %>
